body {
    background: url("./assets/landscape-photo-of-mountain-with-polar-lights-1434608.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.logo {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px !important;
}

.image {
    width: 150px;
    height: 150px;
    z-index: 99;
}

.enterurl {
    position: absolute;
    top: 45%;
    width: 100%;
    height: auto;
}

.url {
    background: rgba(255,255,255,0.6);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 35% !important;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    font-size: large;
    border-radius: 15px;
    left:0;
    right:0;
    z-index: 99;
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    margin-top: 1%;
    z-index: 99;
}

.btn-1 {
    position: relative;
    width: 20%;
    z-index: 99;
}

.btn-2 {
    position: relative;
    width: 8%;
    text-align: center;
    margin-left: .4%;
    z-index: 99;
}

.link {
    background: rgba(255,255,255,0.6);
    border: none;
    position: relative;
    outline: none;
    width: 46%;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    font-size: medium;
    border-radius: 15px;
    margin-left: .4%;
    z-index: 99;
}

.icons {
    position: relative;
    top: -20px;
    width: 100%;
    display: block;
    z-index: 99;
}

.icon {
    position: relative;
    padding: 0 30px;
    font-size: 30px;
    color: #fff;
    z-index: 99;
}

.linkroute {
    color: #fff;
}

.linkroute:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: solid;
    transition: .1s ease-in-out;
}

.footer {
    top: 90%;
    position: absolute;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: auto;
    z-index: 99;
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

/* MEDIA QUERY MANAGER

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop */

@media only screen and (min-width: 0px) and (max-width: 600px){
    body {
        overflow: hidden  !important;
    }
    .url {
        width: 80% !important;
    }
    .container {
        width: 80% !important;
    }
    .btn-1 {
        width: 80%;
        margin-top: 2%;
    }
    .btn-2 {
        width: 80%;
        margin-top: 2%;
    }
    .link {
        width: 85%;
        margin-top: 2%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        overflow: hidden  !important;
    }
    .url {
        width: 70% !important;
    }
    .container {
        width: 70% !important;
    }
    .btn-1 {
        width: 80%;
        margin-top: 2%;
    }
    .btn-2 {
        width: 80%;
        margin-top: 2%;
    }
    .link {
        width: 85%;
        margin-top: 2%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        overflow: hidden  !important;
    }
    .url {
        width: 72%  !important;
    }
    .container {
        width: 80%  !important
    }
}