body {
    background-image: url("./assets/landscape-photo-of-mountain-with-polar-lights-1434608.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.logo {
    position: absolute;
    top: 5%;
    left: 45%;
    right: 50%;
    width: auto;
}

.image {
    width: 150px;
    height: 150px;
}

.enterurl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.url {
    background: rgba(255,255,255,0.6);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    font-size: large;
}

.btn-1 {
    width: 30%;
    margin: 5px 0px;
}

.link {
    background: rgba(255,255,255,0.6);
    border: none;
    position: relative;
    /* display: inline; */
    outline: none;
    width: 270px;
    margin: 5px 0px 0px 12px;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    font-size: medium;
}

.btn-2 {
    width: 55px;
    margin: 5px 0px 5px 5px;
    text-align: center;
}

.icons {
    position: relative;
    top: -20px;
    width: 100%;
    text-align: center;
}

.icon {
    position: relative;
    padding: 0 30px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.footer {
    top: -70px;
    position: relative;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 0 auto;
    width: auto;
    height: auto;
    z-index: 1;
}

/* MEDIA QUERY MANAGER

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop */

@media only screen and (min-width: 0px) and (max-width: 600px){

    body {
        background-size: cover;
    }

    .logo {
        width: 100%;
        left: 35%;
        right: 40%;
    }

    .enterurl {
        width: 100%;
    }

    .url {
        width: 80%;
    }

    .btn-1 {
        position: relative;
        width: 50%;
        margin: 10px 0px;
        padding: 1% 20% 1% 20%;
        top: 5px;
        left: 25%;
    }

    .link {
        width: 80%;
        display: block;
        left: 8%;
        right: 12%;
    }

    .btn-2 {
        position: relative;
        width: 50%;
        margin: 10px 0px;
        padding: 1% 20% 1% 20%;
        left: 25%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-size: cover;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        background-size: cover;
    }
}